<div class="p-4">
    <div class="row">
        <div class="col-12">
            <h5>
                เลือกท็อปปิ้ง
            </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <span class="input-group-text">ค้นหาท็อปปิ้ง</span>
                <input type="text" aria-label="First name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            รายการ
                        </th>
                        <th class="text-right">
                            ราคา
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let opts of options_list">
                            <td>
                                {{opts.opts_title}}
                            </td>
                            <td class="text-right">
                                ฿{{opts.opts_price}}
                                <button type="button" class="btn btn-sm btn-success" (click)="pickOption(opts)">เลือก</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                ท็อปปิ้งที่เลือก : {{optsSelected.length}} รายการ
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            รายการ
                        </th>
                        <th class="text-right">
                            ราคา
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let selected of optsSelected">
                            <td>
                               {{selected.opts_title}}
                            </td>
                            <td class="text-right">
                                ฿{{selected.opts_price}}
                                <span class="badge bg-danger" (click)="deleteOpts(selected.opts_tp_id)">
                                    <i class="nc-icon nc-simple-delete"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="saveOptsSelected()">บันทึก</button>
                <button type="button" class="btn btn-light">ปิด</button>
            </div>
        </div>
    </div>
</div>