<div class="p-4">
    <div class="row">
        <div class="col-12">
            <div class="cart">
                <div class="foods-row-main" *ngFor="let opt of options">
                    <div class="food-row d-flex justify-content-between align-items-center">
                        <div class="food-content d-flex justify-content-between">
                            <div class="food-name">{{opt.opts_title}}</div>
                            <div class="food-price mr-3">{{opt.opts_price}}.-</div>
                        </div>
                        <div class="food-pick">
                            <input class="form-control checkbox-active" type="checkbox" (change)="opt.checked = true">
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="saveOptions()">บันทึก</button>
                <button type="button" class="btn btn-light">ปิด</button>
            </div>
        </div>
    </div>
</div>