<div class="row">
    <div class="col-lg-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" (click)="openConfig([])">เพิ่มรายรับ-จ่าย</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th width="5%">
                                        #
                                    </th>
                                    <th>
                                        รายการ
                                    </th>
                                    <th class="text-right">
                                        จำนวนเงิน
                                    </th>
                                    <th class="text-center" width="10%">
                                        สถานะ
                                    </th>
                                    <th class="text-center" width="10%">
                                        ตั้งค่า
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ie of ie_data let i = index">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{ie.ie_text}}
                                        </td>
                                        <td class="text-right">
                                            ฿{{ie.ie_amount|number}}
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="ie.ie_type == 1" class="badge bg-success">รายรับ</span>
                                            <span *ngIf="ie.ie_type == 2" class="badge bg-danger">รายจ่าย</span>
                                            &nbsp;
                                            <span *ngIf="ie.ie_pay_type == 1" class="badge bg-primary">ลงทุน</span>
                                            <span *ngIf="ie.ie_pay_type == 2" class="badge bg-primary">ส่วนตัว</span>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-warning"
                                                    (click)="openConfig(ie)">แก้ไข</button>
                                                <button type="button" class="btn btn-danger"
                                                    (click)="delIE(ie.ie_id)">ลบ</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>