<div class="row">
  <div class="col-lg-12">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="openConfig(0,[])">เพิ่มรายการอาหาร</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th width="5%">
                    #
                  </th>
                  <th>
                    รายการ
                  </th>
                  <th class="text-right">
                    ราคา
                  </th>
                  <th class="text-center">
                    Rank Code
                  </th>
                  <th class="text-center" width="10%">
                    Active
                  </th>
                  <th class="text-center" width="10%">
                    ตั้งค่า
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let f of foods let i = index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{f.f_title}}
                    </td>
                    <td class="text-right">
                      ฿{{f.f_price}}
                    </td>
                    <td class="text-center">
                      {{f.f_rank}}
                    </td>
                    <td class="text-center">
                      <input class="form-control checkbox-active" type="checkbox" [checked]="f.f_status == 1" (click)="onActiveFood(f)">
                    </td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-warning" (click)="openConfig(f.f_id,f)">แก้ไข</button>
                        <button type="button" class="btn btn-danger" (click)="delFoods(f.f_id)">ลบ</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>