<div class="p-4">
    <div class="row">
        <div class="col-12">
            <h5>
                ท็อปปิ้ง :
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text">ชื่อท็อปปิ้ง</span>
                <input type="text" class="form-control" formControlName="">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text">ราคา / หน่วย</span>
                <input type="number" class="form-control" formControlName="opts_price">
                <span class="input-group-text">฿</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success">บันทึก</button>
                <button type="button" class="btn btn-light">ปิด</button>
            </div>
        </div>
    </div>